/* ***** WHOLE DOCUMENT ***** */

:ROOT {
    --font: 'Quicksand', sans-serif;
    --dkgrey: #3A3B3C;
    --red: #B33A3A;
    --offwhite: #f5f5f5;
}

html, body {
    font-family: var(--font);
    font-size: 20px;
    background-color: var(--offwhite);
}

.logotype {
    font-family: 'Orelega One', cursive;
    font-size: 20px;
    font-weight: 600;
    color: var(--red);
    user-select: none;
}

/* ***** MAIN TOP SECTION W/ LOGOTYPE & PARAGRAPH ***** */

#main {
    text-align: center;
    margin-top: -25px;
}

#main img {
    margin-bottom: -30px;
    max-height: 125px;
}

#main h1 {
    font-family: 'Orelega One', cursive;
    font-size: 100px;
    font-weight: bold;
    letter-spacing: 1px;
    color: var(--dkgrey);
    user-select: none;
}

#main p {
    margin: auto;
    max-width: 700px;
    font-size: 16px;
    text-align: center;
    letter-spacing: 1px;
}

/* ***** SEARCH SECTION W/ INPUT AND BUTTON ***** */

#search {
    padding: 20px;
}

#search ul {
    padding: 10px 0 0 0;
    text-align: center;
}

#search ul li {
    display: inline-block;
}

#search ul li input {
    width: 600px;
    height: 50px;
    padding-left: 15px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--offwhite);
    background-color: var(--red);
    border: 2px solid var(--red);
    border-radius: 5px;
}

#search ul li input:hover {
    padding-left: 15px;
    background-color: var(--dkgrey);
    border-color: var(--offwhite);
}

#search ul li input::placeholder {
    font-weight: bold;
    text-transform: uppercase;
    color: var(--offwhite);
}

#search ul li button {
    border: 2px solid var(--red);
    border-radius: 5px;
    height: 50px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
}

#search ul li button:hover {
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border-color: var(--offwhite);
}

/* ***** QUOTES CONTAINER ON PAGE LOAD ***** */
#quotes {
    min-height: 250px;
    margin-top: 25px;
    padding: 25px;
    text-align: center;
    border: 2px solid var(--dkgrey);
    border-radius: 10px;
    box-shadow: 10px 10px var(--red);
}

#quotes .quotations {
    display: inline;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 100px;
}

#quotes p {
    display: inline;
    font-family: 'Orelega One', cursive;
    font-size: 80px;
}

/* ***** CHOSEN INGREDIENTS SECTION W/ EMPTY LIST ***** */

#chosen-ingredients {
    min-height: 250px;
    margin-top: 25px;
    padding: 25px;
    border: 2px solid var(--dkgrey);
    border-radius: 10px;
    box-shadow: 10px 10px var(--red);
    display: none;
}

#chosen-ingredients h3 {
    font-family: 'Orelega One', cursive;
    font-size: 40px;
    color: var(--dkgrey);
}

#chosen-ingredients ul {
    max-height: 500px;
}

#chosen-ingredients ul li{
    display: inline-block;
    margin: 10px 20px 10px 10px;
    padding: 15px;
    width: fit-content;
    text-transform: capitalize;
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border: 1px solid var(--dkgrey);
    border-radius: 5px;
}

#chosen-ingredients ul li button {
    margin-left: 10px;
    padding: 2px 3px 3px 3px;
    height: 100%;
    width: 25px;
    font-size: 20px;
    text-transform: uppercase;
    color: var(--offwhite);
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    cursor: pointer;
}

#chosen-ingredients ul li button:hover {
    color: var(--dkgrey);
    background-color: var(--offwhite);
    border-color: var(--offwhite);
}

#chosen-ingredients div {
    text-align: right;
}

#chosen-ingredients div button {
    height: 50px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
    border: 2px solid var(--red);
    border-radius: 5px;
}

#chosen-ingredients div button:hover {
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border-color: var(--offwhite);
}

/* ***** RECIPES SECTION W/ EMPTY LIST ***** */

#given-recipes {
    min-height: 250px;
    margin-top: 25px;
    padding: 25px;
    color: var(--dkgrey);
    border: 2px solid var(--dkgrey);
    border-radius: 10px;
    box-shadow: 10px 10px var(--red);
    display: none;
}

#given-recipes h3 {
    font-family: 'Orelega One', cursive;
    font-size: 40px;
}

#given-recipes ul {
    padding: 0;
    text-align: center;
    vertical-align: top;
}

#given-recipes ul li {
    display: inline-block;
    margin: 25px;
    padding: 25px;
    width: 28.5%;
    height: fit-content;
    text-align: center;
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border-radius: 7px;
}

#given-recipes ul li a {
    color: var(--offwhite);
    text-decoration: none;
}

#given-recipes ul li p {
    height: 60px;
    font-size: 24px;
    font-weight: bolder;
    line-height: 28px;
    overflow: hidden;
}

#given-recipes ul li img {
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

#given-recipes ul li button {
    height: 50px;
    width: 100%;
    padding: 5px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    cursor: pointer;
}

#given-recipes ul li button:hover {
    color: var(--dkgrey);
    background-color: var(--offwhite);
    border-color: var(--offwhite);
}

#given-recipes div {
    text-align: right;
}

#given-recipes div button {
    height: 50px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
    border: 2px solid var(--red);
    border-radius: 5px;
}

#given-recipes div button:hover {
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border-color: var(--offwhite);
}

/* ***** ALL MODALS ***** */
.our-modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgba(245, 245, 245, .5);
    z-index: 500;
}

.our-modal {
    position: fixed;
    width: 25%;
    height: 25%;
    top: 37.5%;
    left: 37.5%;
    padding: 40px;
    text-align: center;
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border: 1px solid var(--dkgrey);
    border-radius: 8px;
    box-shadow: 5px 5px var(--red);
}

.our-modal .logotype {
    font-size: 24px;
    font-weight: normal;
}

.our-modal button {
    margin-top: 15px;
    height: 50px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
    border: 2px solid var(--dkgrey);
    border-radius: 5px;
}

.our-modal button:hover {
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border-color: var(--offwhite);
}

#modal-no-ingredients {
    display: none;
}

#modal-no-recipes {
    display: none;
}

/* ***** SAVED RECIPES MODAL ***** */

#saved-recipes-modal {
    display: none;
}

#saved-recipes-modal #saved-recipes {
    height: 70%;
    width: 70%;
    top: 15%;
    left: 15%;
    overflow-y: scroll;
    z-index: 501;
}

#saved-recipes h3 {
    font-family: 'Orelega One', cursive;
    font-size: 40px;
}

#saved-recipes ul {
    padding: 0;
    text-align: center;
    vertical-align: top;
}

#saved-recipes #nothing-saved-text {
    display: block;
    margin: 175px auto;
    font-size: 20px;
}

#saved-recipes ul li {
    display: inline-block;
    margin: 25px;
    padding: 25px;
    width: 25%;
    height: fit-content;
    text-align: center;
    color: var(--offwhite);
    background-color: var(--red);
    border-radius: 7px;
}

/*#saved-recipes li:last-child {
    text-align: left;
} need to play around with this - everything is centered even if only 1*/

#saved-recipes ul li a {
    color: var(--offwhite);
    text-decoration: none;
}

#saved-recipes ul li p {
    height: 60px;
    font-size: 24px;
    font-weight: bolder;
    line-height: 28px;
    overflow: hidden;
}

#saved-recipes ul li img {
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
}

#saved-recipes ul li button {
    height: 50px;
    width: 100%;
    padding: 5px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
    border: 1px solid var(--red);
    border-radius: 5px;
    cursor: pointer;
}

#saved-recipes div {
    text-align: right;
}

#saved-recipes div button {
    height: 50px;
    font-family: var(--font);
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
    background-color: var(--red);
    border: 2px solid var(--red);
    border-radius: 5px;
}

#saved-recipes ul li button:hover {
    color: var(--dkgrey);
    background-color: var(--offwhite);
    border-color: var(--offwhite);
}

#saved-recipes div button:hover {
    color: var(--offwhite);
    background-color: var(--dkgrey);
    border-color: var(--offwhite);
}

/* ***** FOOTER ***** */

footer {
    position: relative;
    width: 100%;
    bottom: 0;
    text-align: center;
    padding: 15px;
    background-color: var(--dkgrey);
}

footer .logotype {
    font-weight: normal;
    color: var(--red);
}

footer p {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--offwhite);
}

/* MEDIA QUERIES */
    /* QUICK FIX */
    @media screen and (max-width: 1215px) {
        #given-recipes ul li, #saved-recipes ul li {
            width: 44.25%;
        }
    }

    /* TABLETS */
    @media screen and (max-width: 992px) {
        #search ul li {
            display: block;
        }

        #search ul li input {
            width: 100%;
        }
        
        #search ul li input:hover {
            background-color: var(--red);
            border-color: var(--red);
        }

        #search ul li input::placeholder {
            text-align: center;
        }
        
        #search ul li button {
            width: 100%;
            margin-top: 10px;
        }
        
        #search ul li button:hover {
            background-color: var(--red);
            border-color: var(--red);
        }

        #chosen-ingredients ul li{
            margin: 5px 2px;
            width: 32%;
            text-align: center;
        }

        #chosen-ingredients div button {
            width: 100%;
            margin-top: 10px;
        }
        
        #chosen-ingredients div button:hover {
            background-color: var(--red);
            border-color: var(--red);
        }

        #given-recipes ul, #saved-recipes ul {
            padding: 0;
            text-align: justify;
        }
        
        #given-recipes ul li, #saved-recipes ul li {
            display: inline-block;
            margin: 5px 5px 10px 5px;
            width: 48.5%;
            height: fit-content;
        }

        #given-recipes div button, #saved-recipes div button {
            width: 100%;
        }
        
        #given-recipes div button:hover, #saved-recipes div button:hover {
            background-color: var(--red);
            border-color: var(--red);
        }
    }
    
    /* LARGE SMARTPHONES */
    @media screen and (max-width: 768px) {
        #main h1 {
            font-size: 70px;
        }

        #main p {
            margin: 0 20px;
            text-align: justify;
        }
        
        #chosen-ingredients ul li{
            margin: 5px 0;
            width: 49%;
        }
        
        #given-recipes ul, #saved-recipes ul {
            text-align: justify;
        }
        
        #given-recipes ul li, #saved-recipes ul li {
            display: block;
            margin: 5px 0 10px 0;
            width: 100%;
            /*height: 250px;*/
        } 

        #given-recipes ul li img, #saved-recipes ul li img {
            max-width: 100%;
        }
    }

    /* SMALL SMARTPHONES */
    @media screen and (max-width: 600px) {
        #main img {
            margin-bottom: -10px;
        }
        
        #main h1 {
            font-size: 50px;
        }
    }