:ROOT {
    --font: 'Quicksand', sans-serif;
    --dkgrey: #3A3B3C;
}

body {
    font-family: var(--font);
    font-size: 20px;
}

section, .container {
    /*border: 1px solid black;*/
}

/* ***** MAIN TOP SECTION W/ LOGOTYPE & PARAGRAPH ***** */

#main {
    text-align: center;
}

#main h1 {
    font-family: 'Orelega One', cursive;
    font-size: 100px;
    letter-spacing: 1px;
}

#main p {
    margin: auto;
    width: 700px;
    text-align: justify;
}

/* ***** SEARCH SECTION W/ INPUT AND BUTTON ***** */

#search {
    padding: 20px;
}

#search ul {
    padding: 20px 0 0 0;
    text-align: center;;
}

#search ul li {
    display: inline-block;
}

#search ul li input {
    width: 600px;
    border: 2px solid #242526;
    border-radius: 5px;
    height: 50px;
    font-family: var(--font);
}

#search ul li button {
    border: 2px solid var(--dkgrey);
    border-radius: 5px;
    height: 50px;
    font-family: var(--font);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#search ul li button:hover {
    color: white;
    background-color: var(--dkgrey);
    border-color: white;
}

/* ***** CHOSEN INGREDIENTS SECTION W/ EMPTY LIST ***** */

#chosen-ingredients {
    margin-top: 25px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#chosen-ingredients h3 {
    font-family: 'Orelega One', cursive;
    font-size: 40px;
}

#chosen-ingredients ul {
    max-height: 500px;
}

#chosen-ingredients ul li{
    display: inline-block;
    margin: 10px 20px 10px 10px;
    padding: 10px;
    width: fit-content;
    color: white;
    background-color: var(--dkgrey);
    border: 1px solid var(--dkgrey);
    border-radius: 5px;
}

/* ***** RECIPES SECTION W/ EMPTY LIST?? ***** */

#given-recipes {
    margin-top: 25px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
}

#given-recipes h3 {
    font-family: 'Orelega One', cursive;
    font-size: 40px;
}